<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  <authentication mode= "Forms">
    <forms>
      <credentials passwordFormat="Clear">
        <user name="admin" password="admin@123"/>
      </credentials>
    </forms>
  </authentication>
  </system.web>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="webpages:Enabled" value="true" />
    </appSettings>
<connectionStrings>
  <add name ="conn" connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=SummerTrainingProject;Integrated Security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>